.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  height: 50px;
  background: green;
  color: #fff;
  margin: 10px 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
